<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Menu2</title>
    <link rel="stylesheet" href="style2.css">
</head>
<body>

    <!--   HEADER  -->

    <header>
        <div class="head">
            <h2>Your Private Restaurant Designer</h2>
        </div>
        <!--    NAVIGATION  -->
        <nav>
            <ul>
                <li><a href="#" class="active">Menu</a></li>
            </ul>
        </nav>
        <!--    END OF NAVIGATION  -->
    </header>
    <!--  END OF HEADER  -->
    <!--SHOWCASE-->

    <showcase>
        <div class="container">
            <h1>Food tastes better when you eat it with your family</h1>
            <h3>Veg, Non-Veg and all kind of Snacks are available</h3>
            <div class="category">
                <div class="Singapore">
                    <img src="https://www.placehold.it/250/250" alt="">
                    <h4>Fried Fish with Source</h4>
                    <p>Aperiam tempore sit,perferendis numquam repudiandae porro voluptate dicta saepe facilis. </p>
                </div>
                <div class="Italy">
                    <img src="https://www.placehold.it/250/250" alt="">
                    <h4>Neapolitan pizza</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi aut vero sint itaque dignissimos, fugiat ipsum laboriosam </p>
                </div>
                <div class="Japan">
                    <img src="https://www.placehold.it/250/250" alt="">
                    <h4>Sushi</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi aut vero sint itaque dignissimos, fugiat ipsum laboriosam </p>
                </div>
            </div>
        </div>
    </showcase>
    <!--   END OF SHOWCASE  -->

    <a href="#"><button class="btn">Read More</button></a>


</body>
</html>