<!DOCTYPE html>
<html>

<head>
    <title>Your Private Restaurant Designer</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
        body {
            font-family: "Lato", sans-serif;
        }

        .sidebar {
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 1;
            top: 0;
            right: 0;
            background-color: #111;
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 60px;
        }

        .sidebar a {
            padding: 8px 8px 8px 32px;
            text-decoration: none;
            font-size: 25px;
            color: #818181;
            display: block;
            transition: 0.3s;
        }

        .sidebar a:hover {
            color: #f1f1f1;
        }

        .sidebar .closebtn {
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 36px;
            margin-left: 50px;
        }

        .openbtn {
            cursor: pointer;
            border: none;
        }

        .openbtn:hover {
            background-color: #444;
        }

        #main {
            transition: margin-left .5s;
            padding: 16px;
        }

        #fakeInput {
            width: 50%;
            background-color: #f8f8f8;
            border-radius: 8px;
            display: block;
            padding: 11px 0;
            box-sizing: border-box;
            border: initial;
            height: 3em;
        }

        #selectedFile {
            opacity: 0;
            position: absolute;
            left: 0;
            top: 0;
        }

        #fakeDiv {
            width: 500px;
            position: relative;
            display: inline-block;
        }

        /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
        @media screen and (max-height: 450px) {
            .sidebar {
                padding-top: 15px;
            }

            .sidebar a {
                font-size: 18px;
            }
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-secondary" style="background:#f50040">
        <a style="color:white;" class="navbar-brand" href="#">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Column names -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a style="color:white;" class="nav-link" href="{% url "dashboard" %}">Menu <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a style="color:white;" class="nav-link" href="#">Order</a>
                </li>
                <li class="nav-item">
                    <a style="color:white;" class="nav-link" href="#">Location</a>
                </li>
                <li class="nav-item">
                    <a style="color:white;" class="nav-link" href="#">More</a>
                </li>
            </ul>
        </div>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mr-1">
                <li class="nav-item">
                    <div id="sidebar_zone">
                        <span class="user">

                            <a style="color:white;" class="nav-link" href="{% url "logout" %}">Logout</a>

                            <a style="color:white;" class="nav-link" href="{% url "undo" %}">Undo</a>

                        </span>
                        <button class="openbtn nav-link" onclick="openNav()">Option</button>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Sidebar -->
    <div id="mySidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
        <div class="accordion">
            <a data-toggle="collapse" href="#addoptions" role="button" aria-expanded="false"
                aria-controls="addoptions">Option</a>
            <div class="collapse card-body" id="addoptions">
                <a data-toggle="modal" data-target="#addModalLinkButton">Account Link Button</a>
                <a data-toggle="modal" data-target="#addModalText">Text</a>
                <a data-toggle="modal" data-target="#addModalImage">Image</a>
            </div>
        </div>
    </div>

    <!-- Recommend splitting this into separate html files when integrate to django -->
    <!-- Link Button -->

    <div class="modal fade" id="addModalLinkButton" tabindex="-1" role="dialog" aria-labelledby="addModalLinkButton"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addModalLabel">Account Links</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <form action=" " method="post">
                        <!-- Account Link -->
                        <div class="col-md-3 col-md-offset-1">
                            <span class="ps_label-show" id="ptAccountLink">
                                <label class="col-xs-3 text-right" for="accountLink">Link:</label>
                            </span>
                            <input type="url" class="form-control" style="width:240px;" id="accountLink"
                                name="accountLink" title="Link:" autofocus>
                        </div>


                        <!-- Button name -->
                        <div class="col-md-3 col-md-offset-1">
                            <span class="ps_label-show" id="ptButtonName">
                                <label class="col-xs-3 text-right" for="accountLink">Text:</label>
                            </span>
                            <input type="text" class="form-control" style="width:240px;" id="buttonName"
                                name="buttonName" title="Text:" autofocus>
                        </div>


                        <!-- Button color -->
                        <div class="col-md-3 col-md-offset-1">
                            <span class="ps_label-show" id="ptButtonColor">
                                <label class="col-xs-3 text-right" for="accountLink">Color:</label>
                            </span>
                            <input type="color" id="buttonColor" name="buttonColor" value="#ff0000">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="createButton()" data-dismiss="modal">Create
                        button</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Text -->

    <div class="modal fade" id="addModalText" tabindex="-1" role="dialog" aria-labelledby="addModalText"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addModalLabel">Text</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- put more code here -->
                    <!-- Text -->
                    <form action=" " method="post">
                        <div class="col-md-3 col-md-offset-1">
                            <span class="ps_label-show" id="ptText">
                                <label class="col-xs-3 text-right" for="text">Text:</label>
                            </span>
                            <form>
                                <textarea class="form-control" style="width:445px; height:110px"></textarea>
                            </form>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Image -->

    <div class="modal fade" id="addModalImage" tabindex="-1" role="dialog" aria-labelledby="addModalImage"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addModalLabel">Image</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- put more code here -->
                    <form action=" " method="post">
                        <!-- Image Link URL -->
                        <div class="col-md-3 col-md-offset-1">
                            <span class="ps_label-show" id="ptImageLink">
                                <label class="col-xs-3 text-right" for="imageLink">Link URL:</label>
                            </span>
                            <input type="url" class="form-control" style="width:240px;" id="imageLink" name="imageLink"
                                title="Link:" autofocus>
                        </div>


                        <!--Browse -->

                        <div class="col-md-3 col-md-offset-1">
                            <span class="ps_label-show" id="ptImageLink">
                                <label class="col-xs-3 text-right" for="imageLink">or</label>
                                <!--<p>or</p>-->
                                <div id="fakeDiv">
                                    <input type="file" id="selectedFile" accept="image/*" />
                                    <input type="text" id="fakeInput" />
                                    <button type="button" class="btn btn-outline-info" id="browseButton"
                                        onclick="document.getElementById('selectedFile').click();">Browse</button>
                                </div>
                            </span>
                        </div>


                        <!--Size-->

                        <div class="size">
                            <br>
                            <legend class="col-form-label col-sm-2 pt-0">Size:</legend>
                            <div class="form-group row">
                                <label for="colFormLabel" class="col-sm-2 col-form-label">Height:</label>
                                <div class="col-sm-2">
                                    <input type="number" class="form-control" style="width:65px;" id="colFormLabel">
                                </div>
                                <p class="col-sm-2" style="display:inline">px</p>
                            </div>
                            <div class="form-group row">
                                <label for="colFormLabel" class="col-sm-2 col-form-label">Width:</label>
                                <div class="col-sm-2">
                                    <input type="number" class="form-control" style="width:65px;" id="colFormLabel">
                                </div>
                                <p class="col-sm-2" style="display:inline">px</p>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <a href=document.getElementById("accountLink").value>
        <div style="text-align: center;" id="buttonPos1">
        </div>
    </a>


    <div id="header">


    </div>
    <div id="content">
    </div>


    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

    <!-- <img src="image1.png" alt="image" width="550" height="500" border="5"> 

<img src="image2.png" alt="image" width="550" height="500" border="5"> 

<img src="image3.png" alt="image" width="550" height="500" border="5"> 

<img src="right_arrow.png" alt="image" width="200" height="200" border="5"> -->
    <script>
        // open navigation bar
        function openNav() {
            document.getElementById("mySidebar").style.width = "450px";
            document.getElementById("sidebar_zone").style.marginLeft = "450px";
        }
        // close navigation bar
        function closeNav() {
            document.getElementById("mySidebar").style.width = "0";
            document.getElementById("sidebar_zone").style.marginLeft = "0";
        }

        // function to create a new  button
        function createButton() {
            var buttonPos1 = document.getElementById("buttonPos1");

            // creating button element  
            var button1 = document.createElement('BUTTON');

            // creating text to be 
            //displayed on button 
            var text1 = document.createTextNode(document.getElementById("buttonName").value);

            // appending text to button 
            button1.appendChild(text1);

            // appending button to div 
            buttonPos1.appendChild(button1);
        }

        $('#selectedFile').change(function chooseFile() {
            var a = $('#selectedFile').val().toString().split('\\');
            $('#fakeInput').val(a[a.length - 1]);
        });

    </script>
</body>

</html>