<!DOCTYPE html>
<html>
<body>
<head>
<title>Your Private Restaurant Designer</title>
</head>
<!-- Main Content Body -->
<div>
              <h1 class="cw-signin-h1">Welcome to Your Private Restaurant Designer!</h1>
            </div> 
                  <!-- User ID -->
                  <div class="form-group"> <span class="ps_label-show" id="ptLabelUserid">
                    <label for="userid">User ID</label>
                    </span>
                    <input type="text" class="form-control" id="userid" name="userid" title="User ID" autofocus>
                  </div>
                  <!-- Password -->
                  <div class="form-group"><span class="ps_label-show" id="ptLabelPassword">
                    <label for="pwd">Password</label>
                    </span>
                    <input type="password" class="form-control" id="pwd" name="pwd" title="Password" >
                  </div>
                  <!-- Sign In Button -->
                  <div style="text-align:center;">
                    <input name="Sign in" type="submit" class="btn btn-primary" value="Sign in">
                  </div>
</body>
</html>